<table class="table ">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Guia</th>
      <th scope="col">Paqueteria</th>
      <th scope="col">Estatus</th>
      <th scope="col">Fecha de actualización</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data; index as i">
      <th scope="row">{{i+1}}</th>
      <td>{{item.guide}}</td>
      <td>{{item.package}}</td>
      <td>
        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal"
          (click)="loadParcelTracking(item.shipping_id, item.guide)">
          {{item.status | statusP}}
        </button>
      </td>
      <td>{{item.updatedate | date: 'MM/dd/yyyy HH:mm' }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td>
        <div class="align-footer">
          <button (click)="loadPackages()" type="button" class="btn btn-success">Actualizar</button>
        </div>
      </td>
    </tr>
  </tfoot>
</table>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria- labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title " id="exampleModalLabel">{{labelPakage}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body ">
          <table class="table ">
            <thead class="table-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Detalle</th>
                <th scope="col">Ubicación</th>
                <th scope="col">Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of pakage; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{item.Details}}</td>
                <td>
                  
                  <div *ngIf="item.Location===null">No hay datos</div>
                  <div *ngIf="item.Location!==null">{{item.Location.City}} - {{item.Location.State}} - {{item.Location.ZipCode}}</div>
                  
                </td>
                <td>{{item.Date | date: 'MM/dd/yyyy HH:mm' }}</td>
              </tr>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
