/* You can add global styles to this file, and also import other style files */
.container-login {
    background: #ececec;
    padding: 50px;
}

.container-form {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header-login {
    display: flex;
    justify-content: center;
}

.body-login {
    display: flex;
    justify-content: center;
}

.row {
    padding: 20px;
}

.btn-p {
    padding: 20px;
}